* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0rem 3rem;
  background-color: gray;
}

li {
  list-style-type: none;
  text-align: left;
  border: 2px solid darkgreen;
  padding: 0rem 1rem;
  margin-top: 2rem;
  max-width: 200px;
}

a {
  text-decoration: none;
  color: darkgreen;
}

h3 {
  margin: 2rem;
}

p {
  text-align: justify;
}


/* GRID CONTAINER */
.grid-container {
  min-height: 150vh;

  display: grid;
  grid-template-columns: 1fr 1.33fr 1.33fr 1.33fr 1fr;
  grid-template-rows: auto 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr auto;

  grid-gap: 1rem;
}

.grid-block {
  min-height: 5rem;
  min-width: 5rem;
  font-size: 2rem;
  padding: 2rem;

  background-color: rgb(189, 189, 189);
  border: 0.4rem solid darkslategray;
}


/* GRID BLOCKS */
.item-1 {
  grid-column: span 5;
}

.item-2 {
  grid-row: span 5;
  text-align: center;
}

.item-3 {
  grid-area: 2 / 2 / 4 / 5;

  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;

  justify-content: space-around;
  align-content: space-around;
}

.inside-item {
  border: 2px solid black;
  padding: 2rem;
}

.inside-item > div {
  color: darkgreen;
}

.item-4 {
  grid-area: 4 / 2 / 5 / 4;
}

.item-5 {
  grid-area: 4 / 4 / 7 / 5;
}

.item-6 {
  grid-row: span 5;
}

.item-7 {
  grid-column: span 2;
  grid-row: span 2;

  display: grid;
  grid-template-rows: auto auto auto auto;
  justify-items: center;
}

.item-8 {
  grid-column: span 5;
  position: sticky;
  bottom: 0;
  padding: 0rem 2rem;
  max-height: 7rem;
}